@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap");
body {
  background-color: rgb(84, 83, 83);
}

* {
  margin: 0px;
  padding: 0px;
}

nav {
  font-family: "ubuntu", sans-serif;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  background-color: black;
  color: white;
}
nav ul li {
  padding: 0 12px;
}

.brand img {
  width: 44px;
  padding: 0 8px;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}
.container {
  min-height: 70vh;
  background-color: rgb(4, 95, 64);
  color: white;
  font-family: "varela round", sans-serif;
  display: flex;
  margin: 23px auto;
  width: 70%;
  border-radius: 12px;
  padding: 34px;
  background-image: url("/covers/dawn.jpg");
  background-size: cover;
}

#progress {
  width: 200vh;
  text-align: center;
  cursor: pointer;
}

.bottom {
  position: sticky;
  height: 130px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icons {
  margin-top: 15px;
  cursor: pointer;
}

.songItem {
  height: 50px;
  display: flex;
  background-color: silver;
  width: 100%;
  color: black;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 34px;
}
.songItemcontainer {
  margin-top: 34px;
}
.songItem img {
  width: 43px;
  margin: 0 23px;
  border-radius: 34px;
}

.timestamp {
  margin: 0 33px;
}
i {
  cursor: pointer;
}
.songinfo {
  position: absolute;
  left: 5vw;
  font-family: "varela round", sans-serif;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.songinfo img {
  width: 50px;
  opacity: 0;
  transition: opacity 0.4s ease-in;
}
